.left{
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.right{
	background-color: azure;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket{
	position:absolute;
	left: 50%;
	bottom: 20px;
	width: 20px;
	height: 100px;
	background-color: black;
	transition: bottom 10000ms;

}

.rocket.flying{
	bottom: 1000px;
}

.ground{
	background-color: #00cc44;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

h1{
	font-family: Helvetica;

}

a{

}

a.button{
	text-decoration: none;
	font-family: Helvetica;
	font-color: red;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}


body.body-state1 .state1{display:block;}
body.body-state2 .state2{display:block;}
body.body-state3 .state3{display:block;}
body.body-state4 .state4{display:block;}
body.body-state5 .state5{display:block;}



