.left{
	background: url('../img/slumber2.jpg') no-repeat center center;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

.right{
	background-color: azure;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket{
	position:absolute;
	left: 50%;
	bottom: 0px;
	width: 200px;
	height: 244px;
	margin-left: -100px;
	background: url('../img/rocket-state1.png') no-repeat 0 0;
	transition: bottom 10000ms;

}

/*rocket background image */
body.body-state2 .rocket{
	background-image: url('../img/rocket-state2.gif');
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/rocket-state3.gif');
	width:200px;
	height: 349px;
	margin-left: -100px;
}

body.body-state5 .rocket{
	background-image: url('../img/boom.png');
	width:300px;
	height:257px;
	margin-left:-150px;
}


/*transition*/
body.body-state1 .rocket{
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.ground{
	background-color: #00cc44;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

h1{
	font-family: Helvetica, sans-serif;
	position: relative;
	top: 250px;
	color: white;
	padding: 20px;
}

a{

}

a.button{
	display: inline-block;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
	color: black;
	border: 5px solid #ffffff;
	border-radius: 10px;
	padding: 10px;
	background-color: #ff4e4e;
	position: relative;
	top: 270px;
}

a:hover{
	color: white;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}


body.body-state1 .state1{display:block;}
body.body-state2 .state2{display:block;}
body.body-state3 .state3{display:block;}
body.body-state4 .state4{display:block;}
body.body-state5 .state5{display:block;}



